<ui:UXML xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements">
    <VisualElement name="card" class="card-container">
        <Image name="card-front" class="card-image" />
        <Image name="card-back" class="card-image" />
    </VisualElement>
</ui:UXML>
